body{
    background-color: #222831;
    margin: 0;
    padding: 0;
    max-width: 1440;
    width: 100%;
    height: auto;
}

/*Menu*/

header{
    height: 132px;
    flex-grow: 1;
}
.logo{
    height: 132px;
    width: 301px;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.logo h1 {
    font-family: Oswald;
    font-size: 24;
    font-weight: 700;
    color: #fff;
    padding: 48px 96px;
    margin: 0;
}
.nav {  
    width: 502px;
    height: 123px; 
    
    display: flex;

    margin: 0px 48px;
    position: absolute;
    right: 0px;
    top: 0px;
    
}
div ul{
    margin: 0px;
    padding: 0px;
}
div ul li{ 
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;

    list-style: none;
    margin: 0;
    padding: 48px 48px;
}
div ul li a{
    color:#fff;
    text-decoration: none;
}

/*Section_1*/
.section1{
    margin: 0;
    padding: 0;
    flex-grow: 2;
}
.cross{
    background-image: url(../img/header/cross_menu.png);
    height: 2px;
    
}
.all_cross {
    background-image: url(../img/header/all_cross.png);
    height: 2px;
    transform: rotate(90deg);
    position: relative;
    left: -207px;
    top: -250px;
    z-index: -1;
}
.first{
    display: flex; 
    width: inherit;
    height: 892px;
}
.main_text {
    width: 694px;
    height: 287px;
    display: flex;
    margin: 212px 0px 0px 77px;
    
}
.txt_btn {
    position: relative;
    width: 586px;
    height: 287px;
    left: 23px;
}
.white_h1 {
    color: #EEEEEE;
    font-family: Poppins;
    font-weight: 700;
    font-size: 96px;
    margin: 0;
    padding: 0;
    line-height: 96px;

}
.blue_h1 {
    color:#00ADB5;
    font-family: Poppins;
    font-weight: 700;
    font-size: 96px;
    margin: 0;
    padding: 0px 0px 48px 0px;
    line-height: 96px;
    z-index: 2;
}
.line {
    background-image: url(../img/header/Line.png);
    width: 79px;
    height: 235px;
    background-repeat: no-repeat;
    position: relative;
    top: 41px;
}
.first_btn {
    font-family: poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    color: #EEEEEE;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    margin: 0;

    padding: 10px 32px;

    background-color: #00ADB5;
    width: 136px;
    height: 47px;
    border-radius: 24px;
    border: none;

}
.second_btn {
    color: #EEEEEE;
    font-family: poppins;
    line-height: 27px;
    font-size: 18px;
    font-weight: 700;
    background: rgba(57, 62, 70, 0.75);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    margin: 0px 0px 0px 24px;
    
    width: 223px;
    height: 47px;
    border-radius: 24px;
    backdrop-filter: blur(2px);
    border: none;
    padding: 10px 66px 10px 32px;
    gap: 10px;
    z-index: 5;
    background-image: url(../img/header/download.png);
    background-repeat: no-repeat;
    background-position: center right 16%;
    background-size: 24px 24px;
    
    
}
.images{
    border: 1px solid inherit;
    width: 546px;
    height: 567px;
    position: absolute;
    right: 80px;
    margin: 163px 0px 0px 0px;
}
.lang {
    background-image: url(../img/header/lang.png);
    width: 512px;
    height: 514px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    position: relative;
    left: 32px;
    z-index: 1; 
}
.human {
    background-image: url(../img/header/human.png);
    background-repeat: no-repeat;
    width: 400px;
    height: 473px;
    margin: 0;
    padding: 0;
    position: relative;
    top: -330px;
    z-index: 3;
}
.shaddow {
    background-image: url(../img/header/shaddow.png);
    background-repeat: no-repeat;
    width: 348px;
    height: 24px;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
    top: -445px;
}
.arrow{
    width: 96px;
    height: 96px;
    background:rgba(57, 62, 70, 0.75);
    backdrop-filter: blur(4px);
    position: absolute;
    left: 464px;
    top: 864px;
    background-image: url(../img/header/arrow.png);
    background-repeat: no-repeat;
    background-size: 21px 36px;
    background-position: center;
}

/* s2 */
.s2 {
    max-width: 1440px;
    width: 100%;
    flex-grow: 2;
}
.border {
    border: 1px solid rgba(238, 238, 238, 0.1);
    position: relative;
    top: 892px;
}
.arrow_all {
    border: 1px solid rgba(238, 238, 238, 0.1);
    transform: rotate(90deg);
    position: relative;
    left: -207px;
    top: 302px;
    z-index: -2;

}
.note {
    background-image: url(../img/s2/note.png);
    width: 64px;
    height: 49px;
    display: inline-block;
    position: absolute;
    top: 1159px;
    left: 96px;

}
.info {
    width: 426px;
    height: 294px;
    display: inline-block;
    position: absolute;
    top: 1271px;
    left: 96px;
}
.heading {
    display: flex;
    flex-direction: row;
    padding: 15px 0px 0px 0px;
}
.w_word {
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;

    margin: 0;
    padding: 0;
}
.b_word {
    color: #00ADB5;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
    margin: 0;
    padding: 0;
}
.txt {
    color: #EEEEEE;
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    width: 389px;
    height: 189px;
    margin: 0px;
    padding: 0px;

    position: relative;
    top: -22px;
}
.readmore {
    color: #EEEEEE;
    font-family: Poppins;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}
.lamp {
    background-image: url(../img/s2/lamp.png);
    width: 79px;
    height: 101px;

    position: absolute;
    top: 0px;
    right: 0px;
}
.arrow_s2 {
    background-image: url(../img/s2/arrow_2.png);
    width: 147px;
    height: 151px;
    display: inline-block;
    flex-direction: row;
    position: absolute;
    top: 1630px;
    left: 257px;
}
.img_s2 {
    width: 665px;
    height: 593px;
    display: inline-block;
    flex-direction: row;
    position: absolute;
    top: 1254px;
    right: 111px;

}
.things {
    background-image: url(../img/s2/things.png);
    background-repeat: no-repeat;
    width: 666px;
    height: 499px;
}
.worker {
    background-image: url(../img/s2/person.png);
    background-repeat: no-repeat;
    width: 414px;
    height: 355px;
    position: relative;
    top: -270px;
    left: 108px;
}
.shaddow_s2 {
    background-image: url(../img/s2/shaddow_2.png);
    background-repeat: no-repeat;
    width: 348px;
    height: 24px;
    position: relative;
    top: -282px;
    left: 160px;
    z-index: -1;
}

/* s3 */

.s3 {
    max-width: 1440px;
    width: 100%;
    max-height: 1024px;
    flex-grow: 2;
}
.background {
    width: 1440px;
    height: 1024px;
    margin: 0;
    padding: 0;
}
.b1 {
    background-image: url(../img/s3/background.png);
    background-repeat: no-repeat;
    background-size: 515px 386px;
    width: 515px;
    height: 386px;
    
    position: absolute;
    top: 2042px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}
.b2 {
    background-image: url(../img/s3/background.png);
    background-repeat: no-repeat;
    background-size: 515px 386px;
    width: 515px;
    height: 386px;
    
    position: absolute;
    top: 2042px;
    left: 492px;
    margin: 0px;
    padding: 0px;
}
.b3 {
    background-image: url(../img/s3/bacground_right.png);
    background-repeat: no-repeat;
    background-size: 477px 386px;
    width: 477px;
    height: 386px;
    
    position: absolute;
    top: 2042px;
    left: 963px;
    margin: 0px;
    padding: 0px;
    z-index: -1;
}


.b4 {
    background-image: url(../img/s3/background.png);
    background-repeat: no-repeat;
    background-size: 515px 386px;
    width: 515px;
    height: 386px;
    
    position: absolute;
    top: 2410px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}
.b5 {
    background-image: url(../img/s3/background.png);
    background-repeat: no-repeat;
    background-size: 515px 386px;
    width: 515px;
    height: 386px;
    
    position: absolute;
    top: 2410px;
    left: 492px;
    margin: 0px;
    padding: 0px;
}
.b6 {
    background-image: url(../img/s3/background.png);
    background-repeat: no-repeat;
    background-size: 477px 386px;
    width: 477px;
    height: 386px;
    
    position: absolute;
    top: 2410px;
    left: 963px;
    margin: 0px;
    padding: 0px;
}


.b7 {
    background-image: url(../img/s3/background.png);
    background-repeat: no-repeat;
    background-size: 515px 386px;
    width: 515px;
    height: 386px;
    
    position: absolute;
    top: 2781px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}
.b8 {
    background-image: url(../img/s3/background.png);
    background-repeat: no-repeat;
    background-size: 515px 386px;
    width: 515px;
    height: 386px;
    
    position: absolute;
    top: 2781px;
    left: 492px;
    margin: 0px;
    padding: 0px;
}
.b9 {
    background-image: url(../img/s3/background.png);
    background-repeat: no-repeat;
    background-size: 477px 386px;
    width: 477px;
    height: 386px;
    
    position: absolute;
    top: 2781px;
    left: 963px;
    margin: 0px;
    padding: 0px;
}

/* s4 */
.s4{
    max-width: 1440px;
    width: 100%;
    max-height: 1024px;
    height: 100%;
    flex-grow: 2;
    position: absolute;
    top: 3072px;
    left: 0px;
    border: 1px solid gold;
    background-color: #222831;
}